.form-container mat-form-field + mat-form-field {
  margin-left: 8px;
  max-width: 600px;
}

.page-container {
  max-height: calc(100vh - 100px);
  max-width: calc(100vw - 100px);
  display: flex;
  flex-direction: column;
}

.page-content {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.field-container {
  padding-bottom: 5px;
}

mat-card-actions {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

section {
  display: table;
}

.form-button-row {
  display: table-cell;
}

.form-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.social-botton-overlay {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-botton-overlay-small {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
  margin: 15px -50% 0 0 !important;
}

.mat-card {
  margin: 10px !important;
}

.header-spacer {
  flex: 1 1 auto;
}

.mat-card-header-text {
  margin: 0;
}

.icon-overlay {
  margin-right: 5px;
  vertical-align: middle;
}

.spacer-span {
  margin-right: 10px;
}

.forgotPwdBtn {
  float: right;
  padding: 0px;
}

.warningSpan {
  content: "\26A0";
}

.social-divider {
  text-align: center;
  line-height: 0em;
  margin: 25px;
  border-bottom: 1px solid rgb(173 173 173);
}

.social-divider span {
  background: #fff;
  padding: 0 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
