<div
  class="position-absolute top-50 start-50 translate-middle"
  style="
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    padding: 20px;
  "
>
  <ng-container *ngIf="isLoading">
    <loading-spinner></loading-spinner>
  </ng-container>
  <div
    *ngIf="!isLoading"
    style="
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
    "
  >
    <mat-card class="form-container">
      <div>
        <h4>{{ isLoginMode ? "Login" : "Sign Up" }}</h4>
        <button
          mat-raised-button
          type="button"
          class="botton-overlay"
          color="primary"
          (click)="onModeSwitch()"
        >
          {{
            isLoginMode ? "New user? Sign Up here" : "Existing user? Login here"
          }}
        </button>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <mat-card-content>
          <span class="card-content">
            <br />
            <section>
              <mat-form-field appearance="outline" class="field-container">
                <mat-label>Enter email</mat-label>
                <input
                  matInput
                  placeholder="pat@example.com"
                  ngModel
                  name="email"
                  required
                  email
                />
                <mat-error></mat-error>
              </mat-form-field>
            </section>
            <section>
              <mat-form-field appearance="outline" class="field-container">
                <mat-label>Enter password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  ngModel
                  name="password"
                  required
                  minlength="6"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="hide ? 'Show password' : 'Hide Password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error></mat-error>
              </mat-form-field>
            </section>
          </span>
        </mat-card-content>
        <mat-card-actions>
          <section>
            <div class="form-button-row">
              <button
                mat-raised-button
                type="submit"
                class="botton-overlay"
                color="primary"
                [disabled]="!loginForm.valid"
              >
                {{ isLoginMode ? "Login" : "Sign Up" }}
              </button>
              <button
                *ngIf="isLoginMode"
                mat-raised-button
                (click)="loginWithGoogle()"
              >
                <img
                  src="../../../assets/icons/Google__G__Logo.svg.png"
                  alt=""
                />
                Sign in with Google
              </button>
            </div>
          </section>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
