<div class="dialog-container">
  <ng-container *ngIf="isLoading">
    <loading-spinner></loading-spinner>
  </ng-container>
  <div *ngIf="!isLoading">
    <div mat-dialog-title>
      <span class="header-overlay">Reset Password</span>
    </div>
    <div mat-dialog-content>
      <form #passwordResetForm="ngForm">
        <span class="card-content">
          <section>
            <mat-form-field
              appearance="outline"
              [style.width.vw]="
                viewportInnerWidth < 321
                  ? '55'
                  : viewportInnerWidth >= 321 && viewportInnerWidth < 481
                  ? '52.5'
                  : '50'
              "
              class="field-container"
            >
              <mat-label>Enter your email</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                ngModel
                name="email"
                #email="ngModel"
                required
                email
              />
              <mat-error *ngIf="email.errors && viewportInnerWidth >= 401">
                <span class="warningSpan" *ngIf="email.errors['required']">
                  &#9888; Email is required
                </span>
                <span class="warningSpan" *ngIf="email.errors['email']">
                  &#9888; Please enter a valid email
                </span>
              </mat-error>
              <mat-error *ngIf="email.errors && viewportInnerWidth < 401">
                <span
                  #tooltip="matTooltip"
                  (click)="tooltip.toggle()"
                  *ngIf="email.errors['required']"
                  matTooltip="Email is required"
                  matTooltipPosition="below"
                  class="warningSpan"
                  >&#9888;</span
                >
                <span
                  #tooltip4="matTooltip"
                  (click)="tooltip4.toggle()"
                  *ngIf="email.errors['email']"
                  matTooltip="Please enter a valid email"
                  matTooltipPosition="below"
                  class="warningSpan"
                  >&#9888;</span
                >
              </mat-error>
            </mat-form-field>
          </section>
        </span>
      </form>
    </div>
    <div mat-dialog-actions class="">
      <section>
        <div class="form-button-row">
          <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!passwordResetForm.valid"
            (click)="onSubmit(passwordResetForm)"
          >
            <span>Submit</span>
          </button>
          <span class="spacer-span"></span>
          <button mat-raised-button mat-dialog-close type="button">
            <span>Cancel</span>
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
