<div class="dialog-container">
  <ng-container *ngIf="isLoading">
    <loading-spinner></loading-spinner>
  </ng-container>
  <div *ngIf="!isLoading">
    <div mat-dialog-title>
      <span class="header-overlay">Reset Password</span>
    </div>
    <div mat-dialog-content>
      <form #passwordResetForm="ngForm">
        <span class="card-content">
          <section>
            <mat-form-field appearance="outline" class="field-container">
              <mat-label>Enter your email</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                ngModel
                name="email"
                #email="ngModel"
                required
                email
              />
              <mat-error *ngIf="email.errors">
                <span *ngIf="email.errors['required']">
                  Email is required
                </span>
                <span *ngIf="email.errors['email']">
                  Please enter a valid email
                </span>
              </mat-error>
            </mat-form-field>
          </section>
        </span>
      </form>
    </div>
    <div mat-dialog-actions class="">
      <section>
        <div class="form-button-row">
          <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!passwordResetForm.valid"
            (click)="onSubmit(passwordResetForm)"
          >
            <span>Submit</span>
          </button>
          <span class="spacer-span"></span>
          <button mat-raised-button mat-dialog-close type="button">
            <span>Cancel</span>
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
