<mat-sidenav-container
  role="dialog"
  aria-label="Quick Links"
  [hasBackdrop]="true"
  cdkTrapFocus
>
  <mat-sidenav
    class="sidenav"
    #sidenav
    [fixedInViewport]="true"
    mode="over"
  >
    <div class="row quick-link-header">
      <h4
        aria-label="Quick Navigation Links"
        class="QNLheader title-container float-left"
      >
        <b>Quick Links</b>
      </h4>
      <span class="QNL-header-spacer"></span>
      <button
        mat-mini-fab
        type="button"
        aria-label="Close"
        class="QNLheader clsBtn"
        aria-label="Example icon button with a filter list icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-nav-list>
      <a
        class="route-container"
        tabindex="0"
        mat-list-item
        matRipple
        [matRippleCentered]="false"
        [matRippleDisabled]="false"
        [matRippleUnbounded]="false"
        *ngFor="let route of routesModule"
        attr.aria-label="{{
          route?.displayText
        }}. Press enter to navigate to the page"
        attr.data-link="{{ route?.key }}"
        (click)="Navigate($event)"
        (keyup.enter)="Navigate($event)"
      >
        {{ route?.displayText }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content"> </mat-sidenav-content>
</mat-sidenav-container>
