.sidenav-content {
  display: flex;
  height: 100%;
}

.sidenav {
  min-width: 20%;
  font-family: Segoe UI Emoji;
}

.quick-link-header {
  width: inherit;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Segoe UI Emoji;
}
.QNLheader {
  font-family: Segoe UI Emoji;
}

.clsBtn {
  cursor: pointer;
  background-color: rgb(249, 249, 249);
}

.title-container {
  width: fit-content;
  margin-top: 5px;
}

.QNL-header-spacer {
  flex: 1 1;
}

.route-container {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
