.header-spacer {
  flex: 1 1 auto;
}

.button-overlay {
  margin-left: 5px;
}

.icon-overlay {
  margin-right: 2px;
  vertical-align: middle;
}

.nav-menu-icon {
  margin-right: 10px;
}

.mat-button {
  padding: 0px 10px !important;
}

.mat-menu-item .mat-icon {
  margin-right: 5px !important;
}
