<mat-toolbar
  color="primary"
  cdkTrapFocus
  [cdkTrapFocusAutoCapture]="true"
  style="height: 50px"
>
  <button
    mat-icon-button
    class="nav-menu-icon"
    aria-label="Quick links menu. Press enter to view options"
    (click)="quickLinksSidenav.sideNav.toggle()"
    *ngIf="isAuthenticated"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span
    cdkFocusInitial
    [style.cursor]="isAuthenticated ? 'pointer' : 'default'"
    tabindex="0"
    [routerLink]="pageTitle"
    (click)="quickLinksSidenav.sideNav.close()"
    aria-label="Account Manager App"
    >Account Manager</span
  >
  <span class="header-spacer"></span>
  <ng-container *ngIf="isAuthenticated">
    <div *ngIf="viewportInnerWidth >= 480">
      <button *ngIf="loadDisplayName()" mat-button>
        <span> Hi, {{ loadDisplayName() }} </span>
      </button>
      <button mat-button (click)="onLogout()">
        <mat-icon class="icon-overlay">logout</mat-icon>
        <span> Logout </span>
      </button>
    </div>
    <button
      *ngIf="viewportInnerWidth < 480"
      mat-icon-button
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="loadDisplayName()" mat-menu-item>
        <span> Hi, {{ loadDisplayName() }} </span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon class="icon-overlay">logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
<app-quick-links-sidenav></app-quick-links-sidenav>
