<mat-toolbar color="primary" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <button
    mat-icon-button
    class="nav-menu-icon"
    aria-label="Quick links menu. Press enter to view options"
    (click)="quickLinksSidenav.sideNav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: 0 1 20px;"></span>
  <span
    cdkFocusInitial
    style="cursor: pointer"
    tabindex="0"
    attr.data-link="/{{ pageTitle }}"
    (click)="Navigate($event)"
    (keyup.enter)="Navigate($event)"
    aria-label="Account Manager App"
    >Account Manager</span
  >
  <span class="header-spacer"></span>
</mat-toolbar>
<app-quick-links-sidenav></app-quick-links-sidenav>
