.dialog-container {
  max-height: calc(100vh - 100px);
  max-width: calc(100vw - 100px);
  display: flex;
  flex-direction: column;
}

.header-overlay {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.header-spacer {
  flex: 1 1 auto;
}

.field-container {
  width: 50vw;
}

.form-button-row {
  display: table-cell;
}

.icon-overlay {
  margin-right: 2px;
  vertical-align: middle;
}

.spacer-span {
  margin-right: 10px;
}

.mat-button,
.mat-raised-button,
.mat-stroked-button {
  margin: 3px 2px 2px 0 !important;
}
