<mat-sidenav-container
  role="dialog"
  aria-label="Quick Links"
  [hasBackdrop]="true"
  cdkTrapFocus
>
  <mat-sidenav
    class="sidenav"
    #sidenav
    style="background-color: white"
    [fixedInViewport]="true"
    mode="over"
  >
    <mat-nav-list>
      <a
        class="route-container"
        tabindex="0"
        mat-list-item
        matRipple
        [matRippleCentered]="false"
        [matRippleDisabled]="false"
        [matRippleUnbounded]="false"
        *ngFor="let route of routesModule"
        attr.aria-label="{{
          route?.displayText
        }}. Press enter to navigate to the page"
        attr.data-link="{{ route?.key }}"
        (click)="Navigate($event)"
        (keyup.enter)="Navigate($event)"
      >
        {{ route?.displayText }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content"> </mat-sidenav-content>
</mat-sidenav-container>
