.sidenav-content {
  display: flex;
  height: 100%;
}

.sidenav {
  padding-top: 50px;
  padding-bottom: 50px;
}

.quick-link-header {
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.clsBtn {
  cursor: pointer;
}

.title-container {
  width: fit-content;
  margin-top: 5px;
}

.QNL-header-spacer {
  flex: 1 1;
}

.route-container {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.mat-drawer-container {
  z-index: -1 !important;
  background-color: white !important;
}

.mat-list-base .mat-list-item {
  font-size: 14px !important;
}
