/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.signUpBackdrop {
  background-color:rgba(255,255,255,.3);
  backdrop-filter: blur(10px);
}

.passwordResetBackdrop {
  background-color:rgba(255,255,255,.3);
  backdrop-filter: blur(10px);
}