/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-container {
  z-index: 10000 !important;
}

.signUpBackdrop {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.passwordResetBackdrop {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.mat-mdc-form-field {
  width: -webkit-fill-available !important;
}

.mat-mdc-dialog-container .mdc-dialog__content {
  padding-top: 24px !important;
}

.mat-mdc-card {
  margin: 10px !important;
  padding: 24px !important;
}

:host::-webkit-scrollbar,
:host ::ng-deep::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

:host ::-webkit-scrollbar-thumb,
:host ::ng-deep ::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

.dialog-container {
  margin: 10px !important;
}
