/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-container {
  z-index: 10000 !important;
}

.signUpBackdrop {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.passwordResetBackdrop {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.mat-form-field {
  width: -webkit-fill-available !important;
}
